@{
    ViewData["Title"] = "Protected Page";
}

<div class="container mx-auto mt-20px">

    <h1 class="text-center text-30px">@ViewData["Title"]</h1>
    <div class="flex flex-row items-baseline mt-40px flex-wrap">
        <div class="w-full sm:w-1/3 p-20px sm:p-0 sm:pr-20px">
            <h3 class="font-bold text-c-pink-dark text-20px leading-loose text-center">Behind</h3>
            <p class="text-18px leading-loose">
                Integer ultrices fermentum odio. Maecenas facilisis imperdiet tellus eleifend hendrerit. Praesent sit amet massa vel enim egestas accumsan a sed orci. Vivamus eu dui fringilla, auctor felis sit amet, rutrum urna.
            </p>
        </div>
        <div class="w-full sm:w-1/3 p-20px sm:p-0 sm:pl-20px">
            <h3 class="font-bold text-c-pink-dark text-20px leading-loose text-center">Microsoft</h3>
            <p class="text-18px leading-loose">
                Nunc sit amet felis tincidunt quam mattis commodo. Sed luctus malesuada felis, ac sagittis est laoreet a. Integer eleifend lorem ut mauris luctus venenatis. Praesent porta arcu sit amet dolor eleifend pulvinar. Mauris ultrices ante diam, eget placerat eros sagittis ac.
            </p>
        </div>
        <div class="w-full sm:w-1/3 p-20px sm:p-0 sm:pl-20px">
            <h3 class="font-bold text-c-pink-dark text-20px leading-loose text-center">Login</h3>
            <p class="text-18px leading-loose">
                Fusce ultrices sapien id lorem tempor bibendum. Suspendisse suscipit neque in purus aliquet, in molestie orci condimentum. Vivamus justo enim, tincidunt non iaculis vel, auctor quis lectus.
            </p>
        </div>
    </div>

</div>
