@{
    ViewData["Title"] = "Signed Out";
}

<div class="container mx-auto mt-20px text-center">

    <h1 class="text-center text-30px">Successfully signed out</h1>
    <p>Please return to the <a class="font-bold" asp-area="" asp-controller="Home" asp-action="Index">homepage</a></p>

</div>
