<div class="bg-black w-full mt-20px">
    <div class="text-white container mx-auto">
        <div class="flex flex-row justify-center items-center sm:items-end flex-wrap p-20px sm:p-0 sm:py-20px">
            <div class="w-full sm:w-1/2">
                <p class="text-16px mb-20px sm:mb-0">LegoSetManager &copy; 2021</p>
                <p>Developed By  <a target="_blank" href="https://www.subvoxelstudios.com">SubVoxel Studios</a></p>
            </div>
            <div class="w-full sm:w-1/2 text-left sm:text-right">
                <a href="https://fb.me/SubVoxelStudios" target="_blank" class="text-26px mr-10px"><i class="fab fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCW04JUFPnWal5PO-47gB1Cg" target="_blank" class="text-26px"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>