<div class="bg-black w-full mt-20px">
    <div class="text-white container mx-auto">
        <div class="flex flex-row justify-center items-center sm:items-end flex-wrap p-20px sm:p-0 sm:py-20px">
            <div class="w-full sm:w-1/2">
                <p class="text-16px mb-20px sm:mb-0">ASPDotNetCore5Template, &copy; Tristan Bettany @DateTime.Now.Year</p>
                <p>Developed By  <a target="_blank" href="https://www.tristanbettany.com">Tristan Bettany</a></p>
            </div>
            <div class="w-full sm:w-1/2 text-left sm:text-right">
                <a href="https://github.com/tristanbettany" target="_blank" class="text-26px mr-10px"><i class="fab fa-github"></i></a>
                <a href="https://www.tristanbettany.com" target="_blank" class="text-26px"><i class="fas fa-globe-europe"></i></a>
            </div>
        </div>
    </div>
</div>