<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a016df5e6e.js"></script>
    <title>@ViewData["Title"] - ASPDotNetCore5Template</title>
    <meta name="description" content="Manage your Lego collection" />
    <meta property="og:title" content="ASPDotNetCore5Template | Manage your Lego collection" />
    <meta property="og:url" content="https://www.subvoxelstudios.com" />
    <meta property="og:locale" content="en_GB" />
    <link rel="stylesheet" href="~/css/main.min.css" />
</head>
<body>
    <partial name="_Header" />

    <main role="main">
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <script src="~/js/main.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
