@using ASPDotNetCore5Template.ViewModels
@model ExceptionViewModel
@{
    ViewData["Title"] = "Error " + Model.Code;
}

<div class="container mx-auto mt-20px text-center">

    <h1 class="text-30px">Error! @Model.Code</h1>
    <h2 class="text-24px">An error occurred while processing your request. Please contact support.</h2>

    @if (Model.ShowRequestId())
    {
        <p class="pt-20px"><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }

</div>